body {
color: #420342;
background:#d7a6e2 ;
margin: 1px;
font-family: "Lobster", sans-serif;


header {
    border-bottom:solid 3px #420342;
padding: 20px;
font-size: 28px;
color: #420342;
}

.chamada {
background:floralwhite;
padding-bottom: 50px;
padding-top: 50px;
display: flex;
justify-content: center;
}

.chamada-texto {
 margin-right: 10%
}
h1 {
font-size: 35px;
}

p {
font-size: 25px;

}

img {
height:200px ;

}

.categoria-videos {
    display:flex;
    overflow-x:auto;
    gap: 17px;

}

.categoria {
padding-left: 20px;
padding-right: 20px;
margin: 50px;

}

.categoria-videos img {  

    opacity: 1.o;
    border: 1px solid paleturquoise
}

.categoria h2 {

    color:violet
}